@font-face {
    font-family: "Ubuntu";
    src: url('../../font/ubuntu/Ubuntu-Regular.ttf');
}

.task-time {
    -fx-min-width: min-main-width;
    -fx-background-color: table-even;
    -fx-padding: 10 20;
}

.task-time_task-name-label {
    -fx-font-size: 15;
    -fx-font-family: "Ubuntu";
    -fx-text-fill: text-light;
    -fx-wrap-text: true;
    -fx-padding: 10 0;
}

.task-time__slider-container {
    -fx-max-width: 400px;
    -fx-min-width: 400px;
}

.task-time__slider {
    -fx-min-width: 400px;
}

.task-time__options-container {
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-alignment: center;
}