* {
    success: #28a745;
    warning: #ffc107;
    danger: #dc3545;
    info: #00b4d8;
    table-odd: #888888;
    table-even: #4A4A4A;
    text-light: #efefef;
    min-main-width: 600;
    task-list-spacing: 10;
}