@font-face {
    font-family: "Font Awesome 5 Free Solid";
    src: url('../../font/awesome/fa-solid-900.ttf');
}

.info__symbol {
    -fx-font-family: "Font Awesome 5 Free Solid";
    -fx-font-size: 25;
    -fx-fill: info;
}