.bar-button {
    -fx-min-width: 40;
    -fx-min-height: 30;
    -fx-border-radius: 0 0 7 7;
    -fx-background-radius: 0 0 7 7;
}

.bar-button-close {
    -fx-background-color: #dc3545;
}

.bar-button-close:pressed {
    -fx-background-color: #ff4c5d;
}

.bar-button-minimize {
    -fx-background-color: #00aba9;
}

.bar-button-minimize:pressed {
    -fx-background-color: #00e0de;
}

.bar-button-maximize {
    -fx-background-color: #00aba9;
}

.bar-button-maximize:pressed {
    -fx-background-color: #00e0de;
}

.bar-button-options {
    -fx-background-color: #00aba9;
}

.bar-button-options:pressed {
    -fx-background-color: #00e0de;
}