@font-face {
    font-family: "Ubuntu";
    src: url('../../font/ubuntu/Ubuntu-Regular.ttf');
}

.login {
    -fx-padding: 50;
    -fx-alignment: center;
    -fx-spacing: 20;
}

.login__header {
    -fx-min-height: 300;
    -fx-font-family: "Ubuntu";
    -fx-font-size: 30;
}

.login__header-container {
    -fx-padding: 0 0 50 0;
}

.login__sub-header {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 20;
}

.login__error-msg {
    -fx-fill: danger;
}

.login__input-container {
    -fx-alignment: center;
    -fx-spacing: 10;
}