.main__tabs {
    -fx-min-width: min-main-width;
    tab-header-background: red;
    -fx-min-height: 100%;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: table-odd;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: table-odd;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0, 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-text-fill: text-light;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: table-even;
}

.tab-pane:top > .tab-header-area {
    -fx-padding: 0.416667em 5 -1 0.416667em; /* 5 2 0 5 */
}