.task-list {
    -fx-hbar-policy: never;
    -fx-padding: -1;
}

.task-list__box {
    -fx-padding: 10 0;
    -fx-spacing: task-list-spacing;
    -fx-fill-width: true;
    -fx-background-color: table-odd;
}