@font-face {
    font-family: "Font Awesome 5 Free Solid";
    src: url('../../font/awesome/fa-solid-900.ttf');
}

.task-add-input {
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-background-color: table-even;
    -fx-alignment: center;
}