@font-face {
    font-family: "Ubuntu";
    src: url('../../font/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: "Font Awesome 5 Free Solid";
    src: url('../../font/awesome/fa-solid-900.ttf');
}

.task {
    -fx-min-height: 40;
    -fx-background-color: table-even;
    -fx-padding: 10 20;
}

.task__task-name-container {
    -fx-max-width: 400;
    -fx-alignment: center-left;
}

.task__task-name-label {
    -fx-font-size: 15;
    -fx-font-family: "Ubuntu";
    -fx-text-fill: text-light;
    -fx-wrap-text: true;
}

.task__control-buttons-container {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.task__button {
    -fx-font-family: "Font Awesome 5 Free Solid";
    -fx-font-size: 15;
}

.task__start-button {
    -fx-pref-width: 60;
}

.task__hide-button {
    -fx-pref-width: 40;
}

.task__delete-button {
    -fx-pref-width: 20;
}